html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    font-family: 'Lato', sans-serif;
}

.app {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
}

.post-topic {
    margin: 0 4px;
}